repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-toml
    -   id: fix-encoding-pragma
    -   id: check-builtin-literals
    -   id: check-byte-order-marker
    -   id: check-executables-have-shebangs
    -   id: debug-statements
    -   id: detect-private-key
    -   id: trailing-whitespace
-   repo: https://github.com/pycqa/isort
    rev: 5.5.1
    hooks:
      - id: isort
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.8.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.7.2
    hooks:
    -   id: pyupgrade
