[tool.poetry]
name = "crypto-candlesticks"
version = "0.1.3"
description = "Download candlestick data fast & easy for analysis"
authors = ["Pedro Torres <corfucinas@protonmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://crypto-candlesticks.readthedocs.io/en/latest/"
repository = "https://github.com/Corfucinas/crypto-candlesticks"
keywords = ["cryptocurrency", "candlesticks", "download", "data", "ohlc"]

[tool.poetry.dependencies]
python = "^3.7"
pandas = "^1.0.5"
numpy = "^1.19.0"
requests = "^2.24.0"
click = "^7.1.2"
retry = "^0.9.2"
tqdm = "^4.47.0"
importlib_metadata = {version = ">=1.7,<3.0", python = "<3.8"}

[tool.poetry.dev-dependencies]
black = "^20.8b1"
mypy = "^0.790"
sphinx = "^3.2.1"
pytest = "^6.1.1"
coverage = {extras = ["toml"], version = "^5.3"}
pytest-cov = "^2.10.1"
pytest-mock = "^3.3.1"
sphinx-autodoc-typehints = "^1.11.1"
nox = "^2020.5.24"
flake8-annotations = "^2.4.1"
flake8-bandit = "^2.1.2"
flake8-black = "^0.2.0"
flake8-docstrings = "^1.5.0"
safety = "^1.9.0"
darglint = "^1.5.5"
xdoctest = "^0.15.0"
sphinx_autodoc_typehints = "^1.11.1"
isort = "^5.6.4"
pre-commit = "^2.6.0"
codecov = "^2.1.8"
wemake-python-styleguide = "^0.14.0"
yamllint = "^1.25.0"
flake8-commas = "^2.0.0"
flake8-comprehensions = "^3.2.3"
flake8-broken-line = "^0.2.1"
flake8-print = "^3.1.4"
flake8-pytest-style = "^1.3.0"
vulture = "^2.0"
radon = "^4.3.2"

[tool.black]
line-length = 79
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["crypto_candlesticks"]

[tool.coverage.report]
show_missing = true

[tool.poetry.scripts]
crypto-candlesticks = "crypto_candlesticks.interface:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
